# yfinance
# pandas
# numpy
# statsmodels
# alpaca-trade-api
# alpha_vantage==2.3.1
# prefect
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
alembic==1.16.5
alpaca-trade-api==0.48
alpha-vantage==2.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
apprise==1.9.9
asgi-lifespan==2.1.0
async-timeout==5.0.1
asyncio-nats-client==0.11.5
asyncpg==0.31.0
attrs==26.1.0
beautifulsoup4==4.14.3
cachetools==6.2.6
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.1.8
cloudpickle==3.1.2
colorama==0.4.6
coolname==2.2.0
cryptography==46.0.5
curl_cffi==0.13.0
dateparser==1.2.2
Deprecated==1.3.1
docker==5.0.3
exceptiongroup==1.3.1
fastapi==0.128.8
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2025.10.0
graphviz==0.21
greenlet==3.2.5
griffe==1.14.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.13.0
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.7.1
Jinja2==3.1.6
jinja2-humanize-extension==0.4.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
Mako==1.3.10
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
multidict==6.7.1
multitasking==0.0.12
numpy==2.0.2
oauthlib==3.3.1
opentelemetry-api==1.40.0
orjson==3.11.5
packaging==25.0
pandas==2.3.3
pathspec==1.0.4
patsy==1.0.2
peewee==4.0.2
pendulum==3.2.0
platformdirs==4.4.0
pluggy==1.6.0
prefect==3.4.25
prometheus_client==0.24.1
propcache==0.4.1
protobuf==6.33.6
pycparser==2.23
pydantic==2.12.5
pydantic-extra-types==2.11.1
pydantic-settings==2.11.0
pydantic_core==2.41.5
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-slugify==8.0.4
pytz==2025.2
PyYAML==6.0.3
readchar==4.2.1
referencing==0.36.2
regex==2026.1.15
requests==2.32.5
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rich==14.3.3
rpds-py==0.27.1
ruamel.yaml==0.19.1
scipy==1.13.1
semver==3.0.4
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.3
SQLAlchemy==2.0.48
starlette==0.49.3
statsmodels==0.14.6
text-unidecode==1.3
toml==0.10.2
tomli==2.4.0
typer==0.19.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==1.24.3
uv==0.10.12
uvicorn==0.39.0
websocket-client==1.9.0
websockets==15.0.1
wrapt==2.1.2
yarl==1.22.0
yfinance==1.2.0
zipp==3.23.0
